{% macro render_range(poker_range) %}
<div class="bloc-range">
    {% for id, class_name in poker_range.items() %}
    <label class="{{ class_name }}" name="hand" id="{ id }">{{ id }}</label>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_range_editable(poker_range) %}
<div class="bloc-range">
    {% for id, class_name in poker_range.items() %}
    <button type="button" class="{{ class_name }}" name="hand" onclick="getId(this.id)" id="{{ id }}">{{ id }}</button>
    {% endfor %}
</div>
{% endmacro %}