{% macro render_range(poker_range) %}
<div class="bloc-range-read">
    {% for hand, class_name in poker_range.items() %}
        <label class="{{ class_name }} hand-read" name="hand" id="{{ hand[1:] }}">{{ hand[1:] }}</label>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_range_editable(poker_range, num_range, nbrange) %}
<div class="bloc-range-edit">
    {% for hand , class_name in poker_range.items() %}
        <button type="button" class="{{ class_name }} hand-edit" name="hand" onclick="getId(this.id)" id="{{ hand[1:] }}-{{ num_range }}">{{ hand[1:] }}</button>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_hidden_range(spot_ranges) %}
    {% for range in spot_ranges %}
        <input type="text" name="newrange" id="{{ loop.index }}">
            {{ range }}
        </input>
    {% endfor %}
{% endmacro %}