{% extends "menu.html" %}

{% block content %}
    <h3>Se connecter</h3>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="bloc-bouton">
                <div class="btn btn-primary btn-danger btn-block">{{ message }}</div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=25) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=25) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
<p>Nouveau sur le site <a href="{{ url_for('register') }}" class="badge badge-info">Créer un compte</a></p>
{% endblock %}
