{% extends "menu1.html" %}

{% block content %}
    <h3>Mon nouveau mot de passe</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=25) }}<br>
            {% for error in form.password.errors %}
            <p class="alert alert-danger">[{{ error }}]</p>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=25) }}<br>
            {% for error in form.password2.errors %}
            <p class="alert alert-danger">[{{ error }}]</p>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}